- @footer_link='footer-' if @footer_link
-btn_class = "#{@footer_link}back right btn-floating btn-large waves-effect waves-light white"
= link_to @back_float_button_link, class: btn_class do
  i.large.mdi-hardware-keyboard-backspace.black-text

-# Rest variables
-@footer_link=nil
-@back_float_button_link=nil