- @footer_link='footer-' if @footer_link
-btn_class = "#{@footer_link}save right btn-floating btn-large waves-effect waves-light yellow"
button type="submit" name="commit" class="#{btn_class}"
  i.large.mdi-action-done-all.teal-text.text-lighten-2

-# Rest variables
-@footer_link=nil