- @footer_link='footer-' if @footer_link
-btn_class = "#{@footer_link}save right btn-floating btn-large waves-effect waves-light blue"
= link_to @show_float_button_link, class="#{btn_class}"
  i.large.mdi-image-remove-red-eye.white-text

-# Rest variables
-@footer_link=nil
-@show_float_button_link=nil